fastapi
uvicorn[standard]
pymongo
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
jinja2
aiofiles
httpx
sentence-transformers
azure-ai-documentintelligence
requests
azure-storage-blob
pydantic
json5
python-multipart
pdfplumber
google-generativeai
docxtpl
httpx
google-generativeai
python-dotenv
fastapi==0.111.0
uvicorn==0.30.1
python-docx==1.1.0
rapidfuzz
pydantic==2.7.1
pymongo
sentence-transformers